{% extends "admin_templates/admin_base.html" %}


    {% block admin_midpart %}

    <style>
        .errorlist {color:red}
    </style>


      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dignostics Lab
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dignostics Lab</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Info boxes -->
		  <div class="col-sm-12">
			<div class=""><button class="col-sm-2 btn btn-primary add_doc">Add New Lab</button></div>
		  </div>.
		  <div class="col-sm-12">
		   <div class="row">
            <!-- left column -->
            <div class="col-md-12" >
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">New Dignostics Lab</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" id="client_form" action="/manage-dignostic/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                  <div class="box-body  style="display:none;"">
                    <div class="col-sm-4 form-group">
                      <label for="exampleInputEmail1">Name</label>
                      {{form.name}} {% if form.errors.name %}<span class="errorlist">{{form.errors.name|striptags}}</span>{% endif %}
					</div>
                    <div class="col-sm-4 form-group">
                      <label for="exampleInputEmail1">Email</label>
                      {{form.email}} {% if form.errors.email %}<span class="errorlist">{{form.errors.email|striptags}}</span>{% endif %}
					</div>
                    <div class="col-sm-4 form-group">
                      <label for="exampleInputEmail1">Phone</label>
                      {{form.phone}} {% if form.errors.phone %}<span class="errorlist">{{form.errors.phone|striptags}}</span>{% endif %}
					</div>
                    <div class="col-sm-4 form-group">
                      <label for="exampleInputEmail1">Speciality</label>
                      {{form.spacility}} {% if form.errors.spacility %}<span class="errorlist">{{form.errors.spacility|striptags}}</span>{% endif %}
					</div>
                    <div class="col-sm-4 form-group">
                      <label for="exampleInputEmail1">Description</label>
                      {{form.desc}} {% if form.errors.desc %}<span class="errorlist">{{form.errors.desc|striptags}}</span>{% endif %}
					</div>
                    <div class="col-sm-4 form-group">
                      <label for="exampleInputEmail1">Image</label>
                      {{form.image}} {% if form.errors.image %}<span class="errorlist">{{form.errors.image|striptags}}</span>{% endif %}
					</div>
                    <!--<div class="form-group">
                      <label for="exampleInputFile">File input</label>
                      <input type="file" id="exampleInputFile">
                      <p class="help-block">Example block-level help text here.</p>
                    </div>-
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Check me out
                      </label>
                    </div>
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary" onclick="Client_entry()">Submit</button>
                  </div>
                </form>
              </div><!-- /.box -->

              <!-- Form Element sizes -->


            </div><!--/.col (left) -->
		  </div>
          <div class="col-sm-12">
		     <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Dignostics Lab List</h3>
                  <div class="box-tools">
                    <div class="input-group">
                      <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div><!-- /.box-header -->
		        <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <!--tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Visited To</th>
                      <th>Doctor</th>
                      <th>Date</th>
					  <th>Status</th>
     				</tr>
                    <tr>
                      <td>1</td>
                      <td>Rahul</td>
                      <td>General</td>
                      <td>Sagar Hospital</td>
                      <td>M. Raghaw</td>
                      <td>09-13-2015</td>
					  <td><button type="btn btn-primary">View</button></td>
                    </tr-->
                    <tr>
					  <th>Name</th>
					  <th>Email</th>
					  <th>Phone</th>
					  <th>Speciality</th>
					  <th>Description</th>
     				</tr>
     				{% for i in dglabs_list %}
                    <tr>
                      <td>{{i.name}}</td>
                      <td>{{i.email}}</td>
                      <td>{{i.phone}}</td>
                      <td>{{i.spacility}}</td>
                      <td>{{i.desc}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div><!-- /.box-body -->
          </div><!-- /.row -->
		  </div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

    {% endblock %}
