{% extends "base.html" %}

{% block title %}Clinics{% endblock %}

{% block midpart %}

  <!----------------Home1------------------------->
    <div id="tf" class="text-center">
        <div class="overlay">

			<div class="content_in" id="map">
				

			</div>
		</div>
	</div>

<!------------------------------------------------------>
    <!-- Portfolio Section
    ==========================================-->
    <div id="tf-hospitals-in">
        <div class="container"> <!-- Container -->
			
            <div class="categories">

                <div class="clearfix"></div>
            </div>
			<div class="col-sm-3">
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<h5>Modify Search</h5>

									</div>
									</div>
							</div>			
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<i class="fa fa-search"></i>
										<input type="text" class="form-control" placeholder="Speciality/Department" name="srch-term" id="keyword_search"  style="border-radius:20px;">

									</div><br>			
									</div>
							</div>
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<i class="fa fa-search"></i>
										<input type="text" class="form-control" placeholder="Location" name="srch-term" id="location_search"  style="border-radius:20px;">

									</div><br>			
									</div>
							</div>
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<i class="fa fa-search"></i>
										<input type="text" class="form-control" placeholder="Keyword/Clinics/Hospitals/Lab/Pharmacy" name="srch-term" id="speciality_search"  style="border-radius:20px;">

									</div><br>	
									</div>
							</div>
							<div class="col-sm-6">
										<span class="input-group-btn">
											<a href="hospitals.html"><button tabindex="1" class="btn btn-home-top" type="button" onclick="ga('send', 'event', 'Ask a Question', 'Consult Privately', 'Search');">Search</button></a>
										</span>
							
							</div>
			
			</div>



			<div class="col-sm-9">
				<div id="wrap">
					<header>
						<span class="list-style-buttons">
							<a href="#" id="gridview" class="switcher"><img src="img/grid-view.PNG" alt="Grid"></a>
							<a href="#" id="listview" class="switcher active"><img src="img/list-view-active.PNG" alt="List"></a>
						</span>
						<h4 style="color:#808080;">Search Result</h4>

					</header>

                    {% if object_list %}
					<ul id="products" class="list clearfix">
                        {% for i in object_list %}
					        <li class="clearfix">
						        <section class="left">
							        <img style="width:20%" src="{% if i.image %}/{{i.image}}{% else %}/static/img/logo1.png{% endif %}" alt="default thumb" class="thumb">
						        </section>
						        <section class="right">
                                    <a href="/clinics-page/{{i.slug}}/">
								        <h4 class="f_name_heading">{{i.name}}</h4>
								        <span class="darkview">
									        <span class="job_listing-rating-stars">
										        <span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										        <span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										        <span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										        <span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										        <span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									        </span>
								        </span>
							        </a>
						        </section>
					        </li>
                        {% endfor %}
					</ul>
					{% endif %}

				</div>
			</div>
        </div>
    </div>

{% endblock %}

