
<script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
<script type = "text/javascript">
    $(document).ready(function(){
        $("form#user-list-form").submit(function(){
            $.ajax({
                type : $(this).attr('method'),
                url : $(this).attr('action'),
                data : $(this).serialize(),
                success : function(data){
                    if ($(data).find(".errorlist").length > 0){
                        $("div#get-user-list-form-content").html(data);
                    } else {
                        alert("We retrived all your details. We will contact you soon.")
                        window.location.href = "/";
                    }
                    
                }
            });
            return false;
        });
    });
</script>


<style>
    .errorlist {color:red;float: left;margin:0px 205px;}
    .help_text {float:left;margin:0px 205px;}
</style>



<form action = "/get-user-list/" method = "POST" id ="user-list-form" > {% csrf_token %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">List your self</h4>
    </div>
    <div class="modal-body">
      {% for field in form %}
        <div class="row">
            <div class="col-sm-4">
                <label>{{field.label_tag}}</label>
            </div>
            <div class="col-sm-8">
                {{field}}<br>
            </div>
            <span class="help_text">{{field.help_text}}</span>
            <span>{{field.errors}}</span>
        </div>
      {% endfor %}
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-default" style="background-color:#6A4A9F; color:#ffffff;" >Submit</button>
    </div>
</form>
